//Add Button
.add__btn {
 background-color: $textBackground;
 color: $textLight;
 border-top-right-radius: 15px;
 border-bottom-right-radius: 15px;
 font-size: 1rem;
 padding: 2%;
 text-transform: uppercase;
}


//item__delete--btn
.item__delete--btn {
  color: $delButton;
  font-size: 2rem;
  justify-content: flex-end;
}


.red-focus {
  border: 3px solid $delButton;
}
