html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Baloo Bhai', cursive;
}

  *,
  *:after,
  *:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
  }

ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  width: auto;
  background: transparent;

  //normalize line-height.
  line-height: normal;
}

h1 {
  margin: 0;
}

select {
  appearance: none
}
