//Colors
$globalBackground: rgb(190, 190, 190);
$globalLightBackground: rgba(190, 190, 190, 0.8);
$textLightBackground: rgba(170, 170, 170, 0.6);
$textBackground: rgba(0, 45, 120, 1);

$income: rgb(0, 210, 135);
$incomeBackground: rgba(0, 210, 135, 0.4);
$expense: rgb(205, 75, 35);
$expenseBackground: rgba(205, 75, 35, 0.4);
$text: rgba(0, 45, 120, 1);
$textLight: rgba(170, 170, 170, 0.6);


$celebrate: rgba(175, 255, 172, 0.5);
$delButton: rgb(244, 1, 77);
