body {
  text-align: center;
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  background-repeat: no-repeat;

  header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .budget__value--wrap {
      background-color: $celebrate;
      padding: 1%;
      h1 {
        width: 100%;
        font-size: 1.4rem;
      }

      .budget__value {
        padding: 1%;
        font-size: 2rem;
        color: $text;
      }

    }


      .budget__income, .budget__expenses {
        width: 40%;
        display: flex;
        align-items: center;
        margin: 1% 0%;
      }

      .budget__income {
        background-color: $income;
      }

      .budget__expenses {
        background-color: $expense;
      }

      .budget__income--text, .budget__expenses--text {
        width: 60%;
      }

      .budget__income--value, .budget__expenses--value {
        width: 25%;
      }


  }
.wrap {
  background-color: $globalLightBackground;
  padding: 1% 0%;


  .input__wrapper {
    width: 100%;
    padding: 2%;

    .add {
      display: flex;
      justify-content: center;
      width: 100%;

      .add__type {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        font-size: 2rem;
        padding: 1%;
        font-weight: bold;
        color: $textBackground;


        .add__type-inc {
          text-align: center;
          background-color: $income;
        }

        .add__type-exp {
          background-color: $expense;
        }
      }

      select.add__type {
        border: none;
        outline: none;
        background-color: none;
      }
    }

    .add__description,
    .add__value {
      font-size: 1rem;
      text-align: center;
      padding: 0 4%;
    }

  }

  .budget__lists {
    display: flex;
    justify-content: center;


    .income__list {
      width: 35%;
      margin: 0% 2%;

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 4px solid $income;
        color: $income;
        padding: 2% 0%;
      }

      .item {
        background-color: $incomeBackground;
        padding: 2%;
        margin: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
      }

      .item__description {
        letter-spacing: normal;
        font-style: italic;
      }

      .item__value {
        letter-spacing: 0.1rem;
        font-weight: bold;
      }
    }

    .expenses__list {
      width: 35%;
      margin: 0% 2%;

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 4px solid $expense;
        color: $expense;
        padding: 2% 0%;
      }

      .item {
        background-color: $expenseBackground;
        padding: 2%;
        margin: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
      }
    }
  }
}
}
