html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Baloo Bhai', cursive; }

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

button {
  border: none;
  width: auto;
  background: transparent;
  line-height: normal; }

h1 {
  margin: 0; }

select {
  appearance: none; }

.add__btn {
  background-color: #002d78;
  color: rgba(170, 170, 170, 0.6);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 1rem;
  padding: 2%;
  text-transform: uppercase; }

.item__delete--btn {
  color: #f4014d;
  font-size: 2rem;
  justify-content: flex-end; }

.red-focus {
  border: 3px solid #f4014d; }

body {
  text-align: center;
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  background-repeat: no-repeat; }
  body header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body header .budget__value--wrap {
      background-color: rgba(175, 255, 172, 0.5);
      padding: 1%; }
      body header .budget__value--wrap h1 {
        width: 100%;
        font-size: 1.4rem; }
      body header .budget__value--wrap .budget__value {
        padding: 1%;
        font-size: 2rem;
        color: #002d78; }
    body header .budget__income, body header .budget__expenses {
      width: 40%;
      display: flex;
      align-items: center;
      margin: 1% 0%; }
    body header .budget__income {
      background-color: #00d287; }
    body header .budget__expenses {
      background-color: #cd4b23; }
    body header .budget__income--text, body header .budget__expenses--text {
      width: 60%; }
    body header .budget__income--value, body header .budget__expenses--value {
      width: 25%; }
  body .wrap {
    background-color: rgba(190, 190, 190, 0.8);
    padding: 1% 0%; }
    body .wrap .input__wrapper {
      width: 100%;
      padding: 2%; }
      body .wrap .input__wrapper .add {
        display: flex;
        justify-content: center;
        width: 100%; }
        body .wrap .input__wrapper .add .add__type {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          font-size: 2rem;
          padding: 1%;
          font-weight: bold;
          color: #002d78; }
          body .wrap .input__wrapper .add .add__type .add__type-inc {
            text-align: center;
            background-color: #00d287; }
          body .wrap .input__wrapper .add .add__type .add__type-exp {
            background-color: #cd4b23; }
        body .wrap .input__wrapper .add select.add__type {
          border: none;
          outline: none;
          background-color: none; }
      body .wrap .input__wrapper .add__description,
      body .wrap .input__wrapper .add__value {
        font-size: 1rem;
        text-align: center;
        padding: 0 4%; }
    body .wrap .budget__lists {
      display: flex;
      justify-content: center; }
      body .wrap .budget__lists .income__list {
        width: 35%;
        margin: 0% 2%; }
        body .wrap .budget__lists .income__list h3 {
          font-size: 1.5rem;
          font-weight: bold;
          border-bottom: 4px solid #00d287;
          color: #00d287;
          padding: 2% 0%; }
        body .wrap .budget__lists .income__list .item {
          background-color: rgba(0, 210, 135, 0.4);
          padding: 2%;
          margin: 2%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 15px; }
        body .wrap .budget__lists .income__list .item__description {
          letter-spacing: normal;
          font-style: italic; }
        body .wrap .budget__lists .income__list .item__value {
          letter-spacing: 0.1rem;
          font-weight: bold; }
      body .wrap .budget__lists .expenses__list {
        width: 35%;
        margin: 0% 2%; }
        body .wrap .budget__lists .expenses__list h3 {
          font-size: 1.5rem;
          font-weight: bold;
          border-bottom: 4px solid #cd4b23;
          color: #cd4b23;
          padding: 2% 0%; }
        body .wrap .budget__lists .expenses__list .item {
          background-color: rgba(205, 75, 35, 0.4);
          padding: 2%;
          margin: 2%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 15px; }
